{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}


    <div class="container">
        <div class="alert-success">
            Вашият профил беше успешно изпратен за ръчен преглед. След като го проверим, ще Ви уведомим с имейл, дали профилът Ви е активен в нашия сайт.
        </div>
    </div>

{% endblock %}