{% extends 'base.html.twig' %}

{% block title %}Добави учител{% endblock %}

{% block body %}


    <div class="container">
        <div class="alert-success">
            Вашият отзив беше успешно изпратено за ръчен преглед. След като го проверим, ще Ви уведомим с имейл, дали отзивът Ви е активен в нашия сайт.
        </div>
    </div>

{% endblock %}